<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="css/header.css">
  <link rel="stylesheet" href="css/linkk.css">
  
  <style>


  </style>
</head>

<body>
  <div class="fixed-header">
    <div class="container">
      <nav>
        <a class="logout_button" href="/add">Add a new shoe</a>
        <a class="logout_button" href="/doLogout">Logout</a>
      </nav>
    </div>
  </div>
</body>

</html>