<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a new Shoe</title>
    <link rel="stylesheet" href="css/add.css">
</head>

<body>
    <center>
        <div class="box">
            <h1>Add a new shoe</h1>
            <form action="/doAdd" method="post">
                <label for="">Shoe name</label>
                <br>
                <input type="text" name="nameShoe" id="">
                <br>

                <label for="">Color</label>
                <br>
                <input type="text" name="colorShoe" id="">
                <Br>

                <label for="">Type</label>
                <br>
                <input type="text" name="typeShoe" id="">
                <Br>

                <label for="">Size</label>
                <br>
                <input type="text" name="sizeShoe" id="">
                <Br>

                <label for="">Brand</label>
                <br>
                <input type="text" name="brandShoe" id="">
                <Br>

                <label for="">Amount</label>
                <br>
                <input type="text" name="amountShoe" id="">
                <Br>

                <label for="">Price</label>
                <br>
                <input type="text" name="priceShoe" id="">
                <br>
                <input type="submit" value="Add" class="btn">
                <a href="/index"><input type="button" value="Cancel" class="btn"> </a>

            </form>
        </div>
    </center>
</body>

</html>